.header{
    background-color:lightgrey;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.grey{
    background-color:lightgrey;
    height:35px;
    padding:0px;
    margin:0px;
    border:0px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.blue{
    background-color: lightblue;
    height:35px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.elements{
    display:flex;
    flex-direction:column

}