.table-holder{
    display:flex;
    border: 3px solid rgba(255, 0, 0, 0);
    width: 99%;
}

.vehical-view{
    border: 3px solid rgba(0, 0, 255, 0);
    margin-left:13%;
    width: 53%;

}

.vehical-information{
    padding-left: 23px;
    margin-top: 3px;
}

.vehical-pic{
    background-image: url("./images/goldie.webp");
    border:3px solid #dddddd;
    height: 78%;
    background-color:rgba(222, 222, 222, 0.25);
    border-radius: 12px;

}