*{
    padding:0px;
    margin:0px;
}
.item1 { 
    grid-area: header; 
    background-color:lightcoral;
}
.item2 { grid-area: menu; 
    background-color:lightgrey;}
.item3 { grid-area: main; 
    background-color:lightblue;}
.item5 { grid-area: footer; 
    background-color:lightyellow;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {

  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
#text{
    padding:20px;
    font-size:25px;
}
ol{
    padding:10px;
}